@model ProductViewModel

<div>
    <h1>
        Create Product
    </h1>

    <form asp-controller="Products" asp-action="Create">
        <div class="mb-3">
            <label asp-for="Product.Name" class="form-label"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.Quantity" class="form-label"></label>
            <input asp-for="Product.Quantity" class="form-control" />
            <span asp-validation-for="Product.Quantity" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.UnitPrice" class="form-label">Unit Price</label>
            <input asp-for="Product.UnitPrice" class="form-control" />
            <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.Description" class="form-label"></label>
            <textarea asp-for="Product.Description" rows="5" class="form-control"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.UnitOfMeasureId" class="form-label">Unit of Measure</label>
            <select asp-for="Product.UnitOfMeasureId" class="form-control">
                <option value=""></option>

                @foreach (var measure in Model.UnitOfMeasures)
                {
                    <option value="@measure.Id">@measure.Name</option>
                }
            </select>
        </div>

        <div class="d-flex justify-content-end">
            <a asp-controller="Products" asp-action="Index" class="btn btn-secondary me-2">
                Cancel
            </a>

            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>