@{
	ViewData["Title"] = "About Me";
}
<div class ="about-page">
	<h1>About Me</h1>
	<p>Hello !  I am Samvel, a dedicated and experienced boxer and coach </p>
	<p>Over the years, I have achieved numerous accomplishments in the sport and helped many athletes reach their goals in the boxing</p>
	<p>My goal is to share my experience and support athletes from beginners to advanced in achieving their personal best</p>
</div>