@{
    ViewBag.Title = "About us";
}
<div class="about-container">
    <div class="about-text">
        <h2> About us </h2>
        <p>
            Here you can get acquainted with the history of our dance ensemble.
            Nurin dance ensemble considers it its duty to teach national dances, to teach Armenian cultural values.
            We also get to know other dances
        </p>
        <h2>Dance Types</h2>
        <ul>
            <li>Armenian National Dance </li>
            <li>Classic Dance</li>
            <li>Contemporary</li>
        </ul>
    </div>
</div>
