@{
	ViewData["Title"] = "Contact Me";
}
<div class="contact-page">
	<h1">Contact Me</h1>
	<p>I am currently working at Gold's Gym located in Yerevan</p>
	<p>Phone: 077577051</p>
	<p>Email:<a href="mailto:samoboxx@mail.ru">samoboxx@mail.ru</a></p>
	<p>Instagram:<a href="https://www.instagram.com/samvel_barseghyan" target="_blank">samvel_barseghyan</a></p>
</div>

