@{
    ViewBag.Title = "Nurin Dance Studio";
}

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <h1>Welcome to Nurin Dance Studio</h1>
        <p>Feel the power of Armenian dance!</p>
        <nav>
            <ul>
                <li><a href="/Home/About">About</a></li>
                <li><a href="/Home/Contact">Contact</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
