@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

< <section id="privacy">
    <h2>Privacy Policy</h2>
    <p>Your privacy is important to us. This privacy policy outlines the types of personal information that is received and collected by Dance Studio and how it is used.</p>

    <h3>Information Collection</h3>
    <p>We collect personal information from you when you use our website, including when you fill out a contact form or register for classes. This may include your name, email address, and phone number.</p>

    <h3>How We Use Your Information</h3>
    <p>We use the information we collect to respond to your inquiries, provide you with information about our services, and improve the user experience on our website.</p>

    <h3>Security</h3>
    <p>We implement a variety of security measures to maintain the safety of your personal information. However, no method of transmission over the internet is 100% secure, and we cannot guarantee the absolute security of your data.</p>
</section>
