@model ProductSize

<div>
    <form asp-controller="ProductSizes" asp-action="Create">
        <input type="hidden" asp-for="ProductId" />

        <div class="mb-3">
            <label asp-for="SizeId" class="form-label">
                Size
            </label>
            <select asp-for="SizeId" class="form-control">
                @if (ViewBag.Sizes != null)
                {
                    @foreach (var size in ViewBag.Sizes as List<Size>)
                    {
                        <option value="@size.Id">
                            @size.Name
                        </option>
                    }
                }
            </select>
        </div>

        <div class="d-flex justify-content-end">
            <a asp-controller="ProductSizes" 
            asp-action="Index" 
            asp-route-productId="@Model.ProductId" class="btn btn-secondary me-2">
                Cancel
            </a>

            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>