@model List<Manufacturer>

<div>
    <a asp-controller="ProductTypes" asp-action="Create" class="btn btn-primary">
        Create ProductType
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Manufacturer manufacturers in Model)
            {
                <tr>
                    <td>@manufacturers.Id</td>
                    <td>@manufacturers.Name</td>
                    <td>
                        <a asp-controller="ProductTypes" asp-action="Edit" asp-route-id="@manufacturers.Id" class="btn btn-secondary">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>